$title-color: $black;
$title-weight: bold;
$title-font-family: $secondary-font-family;

$price-color: $brownish-grey;
$price-weight: normal;
$price-font-family: $secondary-font-family;
$price-font-size: 3.6rem;

$billed-color: $warm-grey-four;
$billed-weight: normal;

$basic-color: $violet;
$business-color: $green;
$pro-color: $blue;

$best-value-font-family: $secondary-font-family;

.price-head, .item-head, .subitem, .price-footer{		
	display: flex;
	flex-wrap: nowrap;	
	.basic, .business, .pro{
		overflow-X: hidden;
	}
	.name{
		flex: 0 0 100% - (3 * $xsmall-col);
	}	
	.basic, .business, .pro{			
		flex: 0 0 $xsmall-col;		
	}		
	@include breakpoint(small){
		.name, .basic, .business, .pro{			
			flex: 0 0 $small-col;					
		}
	}	
}

.price-head, .price-footer{
	.name, .basic, .business, .pro{					
		text-align: center;	
		position: relative;
	}
	/*
	--> button colors are implemented depending on the column (because there is the prefix "best value", the same color)
	--> the prefix appears in the column that has the .best-value class
	        (for example  class="business best-value"  or  "pro best-value")
	--> We can also implement button colors using _bottons.scss (now it is commented)*/
	.basic{		
		.button{
			background-color: $basic-color;
			&:hover{
				background-color: darken($basic-color,20%);		
				transition: all 1s;
			}	
		}		
	}
	.business{		
		.button{
			background-color: $business-color;
			&:hover{
				background-color: darken($business-color,20%);		
				transition: all 1s;
			}	
		}		
	}
	.pro{		
		.button{
			background-color: $pro-color;
			&:hover{
				background-color: darken($pro-color,20%);		
				transition: all 1s;
			}	
		}		
	}
}

.price-head{	
	height: $price-head-height; 
	.name, .basic, .business, .pro{		
		padding-top: 39px;
		padding-bottom: 30px;
		&.best-value:before{			
			content: "best value"; 
			width: 100%;
			height: 20px;
			position: absolute;
			top: -20px;	
			left: 0;								
			font-family: $best-value-font-family;
			font-size: 12px;
			line-height: 20px; 
			font-weight: bold;			
			color: $white;	
			text-transform: uppercase;				
		}
		.title{			
			color: $title-color;
			font-weight: $title-weight;		
			font-family: $title-font-family;	
			line-height: 13px;
			margin: 0;
			margin-bottom: 25px; 					
		}
		.price{
			color: $price-color;
			font-weight: $price-weight;		
			font-family: $price-font-family;				
			line-height: 30px;
			margin: 0;
			margin-bottom: 17px; 			
			font-size: $price-font-size * $scale-font-for-xsmall;
			@media screen and (max-width: 400px){
				font-size: $price-font-size * $scale-font-for-xsmall * $scale-320;
			}
			@include breakpoint(small){
				font-size: $price-font-size;
			}
		}
		.billed{
			color: $billed-color;
			font-weight: $billed-weight;									
			line-height: 12px;
			margin: 0;
			margin-bottom: 36px; 
			white-space: nowrap;	
		}		
	}
	.basic{
		&.best-value:before{								
			background-color: $basic-color;
		}			
	}
	.business{
		&.best-value:before{								
			background-color: $business-color;
		}			
	}
	.pro{
		&.best-value:before{								
			background-color: $pro-color;
		}			
	}
}

// PRICE-FOOTER
.price-footer{
	height: $price-footer-height; 
	.name, .basic, .business, .pro{		
		padding-top: 36px;
		padding-bottom: 32px;
	}
}

// TABLE
.table{	
	//on xsmall screen (320px-600px)  ==>	normal vertical browser scrolling
	//on screen after 600px and more  ==>   internal vertical scroll in table
	@include breakpoint(small){
		max-height: $table-height;
		overflow-Y: auto;
	}
}
.item-head, .subitem{
	min-height: 45px;
	.name, .basic, .business, .pro{
		display: flex;
		align-items: center;
	}
	.name{		
		justify-content: start;
	}
	.basic, .business, .pro{					   
	    justify-content: center;	
	    text-align: center;			
	}
}
.item-head{	
	background-color: $background-item-head;
	cursor: pointer; 
	.name{
		position: relative;
		spam{
			padding-left: 21px;	
			padding-right: 15px;			
			@include breakpoint(large){
				padding-left: 41px;
				padding-right: 0;
			}
		}			
		
	}
}
.subitem{
	.name{
		spam{
			padding-left: 22px;
			@include breakpoint(large){
				padding-left: 42px;
			}
		}
	}
	
	.yes{
		position: relative;
		&:before{
			position: absolute;
			content:"";
			background-color: $green; 
			width: 9px;
		    height: 3px;		    
		    transform: rotate(45deg);
		    right: 1px;		    
		    top: 3px;
		}
		&:after{
			position: absolute;
			content:"";
			background-color: $green; 
			width: 18px;
		    height: 3px;		    
		    transform: rotate(-45deg);		    
		    left: -7px;		
		}
	}
	.no{
		position: relative;
		&:before{
			position: absolute;
			content:"";
			background-color: $warm-grey; 
			width: 22px;
		    height: 3px;		    
		    transform: rotate(45deg);	
		    left: -11px;
		}
		&:after{
			position: absolute;
			content:"";
			background-color: $warm-grey; 
			width: 22px;
		    height: 3px;		    
		    transform: rotate(-45deg);	
		    left: -11px;	    		    	
		}
	}
	
}

// DISPLAY SUBITEM
.subitem-wrapper{	
	display: none;	
}
.open{
	.subitem-wrapper{	
		display: block;			
	}	
}

// FONT
.table{
	//font-size: 1.4rem;
	// in xsmall screen must reduce the font 
	font-size: calc(1.4rem * #{$scale-font-for-xsmall});
	@include breakpoint(small){
		font-size: 1.4rem;
	}	
	:first-letter{
		text-transform: uppercase;
	}
}
.item-head{
	font-weight: bold; 
}
.item-head, .subitem{	
	spam{
		word-break: break-word;		
		// font-size: 1rem;
		// @include breakpoint(small){			
		// 	font-size: 1.2rem;
		// }
		// @include breakpoint(medium){
		// 	font-size: 1.4rem;
		// }	
	}
}
.subitem{
	color: $warm-grey;
}


// BORDERS
.price-head, .subitem, .price-footer{
	div:not(:first-child){
		border-left: 1px solid $bordergray;
	}
}
.table{
	border-top: 1px solid $bordergray;	
}
.item-head, .subitem{
	border-bottom: 1px solid $bordergray;
}

//ICONS
.fa-angle-down, .fa-angle-up{
	position: absolute;
	left: 5px;
	@include breakpoint(large){
		left: 22px;
	}
	color: $arrowgray;
	font-size: 1.6rem;
}
.fa-angle-down{
	display: block;	
}
.fa-angle-up{
	display: none;	
}
.open{
	.fa-angle-down{
		display: none;
	}
	.fa-angle-up{
		display: block;
	}
}
.fa-question-circle-o{		
	// right: 3px;
	// @include breakpoint(small){
	// 	position: relative;
	// 	padding-left: 17px;
	// }		
	color: $green;
	// hover change to JS EventListener "mouseover" & "mouseout"
	// &:hover{
	// 	color: darken($green, 20%);
	// }	
	font-size: 1.5rem; 
}
//HELPERS EXPLANATION
.wrapper-expl{
	position: absolute;
	right: 3px;
	@include breakpoint(small){
		position: relative;
		padding-left: 17px;
	}	
}

.explanation{
	display: none;
	position: absolute;		
	height: 41px;
	width: max-content;	
	max-width: 50vw;
	top:-13px;
	right:-20px;
	transform: translate(100%);
	//transform: translate(10px, -50%);
	background-color: #FFF;
	border: 1px solid $green;
	border-radius: 4px;
	padding: 0 5px;	
	font-size: 1rem;
    align-items: center;
    color: $arrowgray;
    &:before {
		position: absolute;
		top: 10px;
    	left: -19px;
		content: "";
		display: block;
		border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
		border-right: 18px solid $green;
	}	
	&:after {
		position: absolute;
		top: 10px;
    	left: -17px;
		content: "";
		display: block;
		border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
		border-right: 18px solid $white;
	}
	&.open{
		display: flex;
	}
}

