$id: button;


$button-font-family: $secondary-font-family;
$button-font-color: $white;
$button-font-size: 1.8rem;
.#{$id} {		
	//width: 64px;
	width: calc(100vw * 0.2 * 0.85);
	
	font-size: $button-font-size * $scale-font-for-xsmall;
	@media screen and (max-width: 400px){
		font-size: $button-font-size * $scale-font-for-xsmall * $scale-320;
	}
	@include breakpoint(small){
		width: 120px;
		font-size: $button-font-size;
	}
	@include breakpoint(medium){
		width: 178px;
	}
	@include breakpoint(large){
		width: 200px;
	}
	
  	height: 44px;		
	color: $button-font-color;
	font-family: $button-font-family; 
	cursor: pointer;	
	border: none;		
}

// .#{$id}-violet {	
// 	background-color: $violet;	
// 	&:hover{
// 		background-color: darken($violet,20%);		
// 		transition: all 1s;
// 	}	
// }
// .#{$id}-green {	
// 	background-color: $green;	
// 	&:hover{
// 		background-color: darken($green,20%);		
// 		transition: all 1s;
// 	}	
// }
// .#{$id}-blue {	
// 	background-color: $blue;	
// 	&:hover{
// 		background-color: darken($blue,20%);		
// 		transition: all 1s;
// 	}		
// }

.#{$id}-round {	
	border-radius: 5px;	
}


.#{$id}-large {
	@extend .#{$id};	
}
.#{$id}-little {	
	@extend .#{$id};
}
