/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: regular;
  src: local('Montserrat'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: local('Montserrat'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: regular;
  src: local('NotoSans'),
       url('../fonts/NotoSans-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: bold;
  src: local('NotoSans'),
       url('../fonts/NotoSans-Bold.ttf') format('truetype'); 
}
///////////////////////////////////////////////////////////




