/*=========================================================
///////////////////////////////////////////////////////////
  MARGIN
///////////////////////////////////////////////////////////
=========================================================*/
$main-margin-top:           54px;
$main-margin-bottom:        83px;
$price-head-height:         246px;
$price-footer-height:       113px;
//INTERNAL SCROLL
// IF YOU NEED INTERNAL SCROLL should using this value
$wrapper-height:            calc(100vh - #{$main-margin-top} - #{$main-margin-bottom});
$table-height:              calc(#{$wrapper-height} - #{$price-head-height} - #{$price-footer-height});

// IF YOU NEED EXTERNAL(browser) SCROLL should using this value  (uncomment next two value and comment previous two value)
//EXTERNAL SCROLL
//$wrapper-height: none;
//$table-height: none;

/*=========================================================
///////////////////////////////////////////////////////////
  COLORS
///////////////////////////////////////////////////////////
=========================================================*/
$black: 					#000000;
$white: 					#ffffff;
$violet: 	                #7E6999;   //button 
$green:                     #A5D219;   //button 
$blue:                      #557BA5;   //button 
$warm-grey:                 #777777;   //subitem
$brownish-grey:             #636363;   //price
$warm-grey-four:            #969696;   //billed
$background-item-head:      #F7F7F7;   //item-head
$backgroundbody: 		    #F5F5F5;
$bordergray:                #F0F0F0;
$arrowgray:                 #9E9E9E; // icons arrow
	

/*=========================================================
///////////////////////////////////////////////////////////
  FONTS
///////////////////////////////////////////////////////////
=========================================================*/
$global-font-family: NotoSans, 'Open Sans';
$secondary-font-family: Montserrat, 'Open Sans';
$global-font-size: 1.4rem;
$scale-font-for-xsmall: 0.8;
$scale-320: 0.7;
/*=========================================================
///////////////////////////////////////////////////////////
  HEADING
///////////////////////////////////////////////////////////
=========================================================*/
$map-heading-size: ( 	
			h1: 4.0rem,  
			h2: 3.2rem,  
			h3: 2.4rem,  
			h4: 1.8rem,  
			h5: 1.4rem,  
			h6: 1.2rem   
		);
$scale-heading-for-xsmall: 0.8;
$scale-heading-for-small: 1;
$scale-heading-for-medium: 1;
/*=========================================================
///////////////////////////////////////////////////////////
  % of 100vw for .name, .basic, .business, .pro 
///////////////////////////////////////////////////////////
=========================================================*/
$xsmall-col: 20%;
$small-col: 25%;
