///////////////////////////////////////////////////////////////////
@import "normalize";
/*========================================================
Global Styles
========================================================*/
@import "fonts";
@import "variables";
@import "breakpoints";
@import "heading";
@import "helpers";
@import "button";
//////////////////////////////////////////////////////////////////
html {
  box-sizing: border-box;
  /*  !!!The basic font size, all the rest are dependent on it through rem (example p{font-size: 1.4rem} -->14px;)*/
  font-size: 10px; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow-x:hidden; 
    position: relative;
    font-family: $global-font-family;        
    background-color: $backgroundbody; 
    a{        
        text-decoration: none;
    }    
    max-width: 100vw;
    //max-height: 100vh; 
}

.wrapper{
    margin: 0 auto;
    margin-top: $main-margin-top;
    margin-bottom: 0;
    max-height: none;
    @include breakpoint(small){
      margin-top: $main-margin-top;
      margin-bottom: $main-margin-bottom;      
      max-height: $wrapper-height; 
    }

    //for full wide screen
    width: 100vw;
    //for max static wide 320px  uncomment next
    //max-width: 320px;
    @include breakpoint(small){
      //for full wide screen
      width: 100vw;            
      //for max static wide 600px  uncomment next
      //max-width: 600px;
    }
    @include breakpoint(medium){
      //for full wide screen
      width: 100vw;
      max-width: 1024px;
      //for max static wide 900px  uncomment next
      //max-width: 900px;
    }
    @include breakpoint(large){
      max-width: 1024px;
    }
    background-color: $white;   
    //height: 100%; //only for test
}

/*=========================================================
///////////////////////////////////////////////////////////
  Including PARTS
///////////////////////////////////////////////////////////
=========================================================*/
@import "parts/pricing";